.gallery {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2rem;
  margin-bottom: 2rem;

  h1 {
    color: $white;
    text-align: center;
  }

  .gallery-grid {
    display: flex;
    flex-direction: column;
    gap: 2rem;

    width: clamp(15rem, 95%, 35rem);
    padding: 0.5rem;
    margin-top: 3rem;
    border-radius: 3.5rem 3.5rem 1rem 1rem;
    border: 3px groove var(--black-border);

    img {
      width: 100%;
      border: 1px groove var(--white-border,);
      border-radius: 3.5rem 3.5rem 1rem 1rem;
    }
  }
}